import(

	stats,
	utils,
	parallel,
	rjags,
	runjags
	
)

# Can't import the full coda package as runjags also exports as.mcmc/list:
importFrom(coda, niter, HPDinterval, autocorr.diag, mcmc.list, nvar)

export(

	fecrt.analysis,  	# preferred
	FECRT.analysis,
	fecrt,				
	FECRT,

	fecrt.model,		# preferred
	FECRT.model,

	fecrt.power,		# preferred
	FECRT.power,

	fecrt.precision,	# preferred
	FECRT.precision,
	fecrt.power.limits,	# allowed but deprecated
	FECRT.power.limits,	# allowed but deprecated

	count.analysis,		# preferred
	fec.analysis,		
	FEC.analysis,
	bayescount.single,  # allowed but deprecated 

	count.model,		# preferred
	fec.model,
	FEC.model,
	run.model,			# allowed but deprecated

	count.power,		# preferred
	fec.power, 			
	FEC.power,
	
	count.precision,	# preferred
	fec.precision, 		
	FEC.precision,
	fec.power.limits,	# allowed but deprecated
	FEC.power.limits,	# allowed but deprecated

	normal.params, 		# only one
	lnormal.params,		# only one

	likelihood, 		# deprecated will be removed version 1
	maximise.likelihood, # deprecated will be removed version 1
	bayescount  		# deprecated will be changed to package version 1

	)

useDynLib('bayescount')

S3method(print, fecrt.results)